@import "/src/theme";

.footer-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
}

.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: $primary-color;
}