@import "/src/theme";

.footer-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-notes {
  position: relative;
  display: flex;
  justify-content: center;
  color: $background-color;
}

.footer-notes small {
  margin-bottom: .5rem;
}

.footer-notes a {
  color: $background-color;
  text-decoration: underline;
}

.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: $primary-color;
}