@import "/src/theme.scss";

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.game-over-heading {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.play-again-button {
  font-size: 3ch !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 4px solid $background-color;
  border-radius: 100%;
  border-bottom-color: $rose;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;

}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}