@import "/src/theme";

.header {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 1px 5px $border-color;
}

.header-title {
  color: $primary-color;
}