@import "/src/theme";

.verb-container {
  padding: 2rem;

  width: 15rem;
  height: 10rem;

  text-align: center;
  margin-bottom: 3rem;

  border-radius: .5rem;
  border: 1px solid $border-color;

  box-shadow: 3px 3px 5px $border-color;
}

.verb-descriptors {
  display: flex;
  justify-content: space-around;
  width: 100%;
}