@import "/src/theme";

.verb-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 2rem .5rem 2rem .5rem;
  min-height: 12rem;
  text-align: center;

  border-radius: .5rem;
  border: 1px solid $border-color;
  box-shadow: 3px 3px 5px $border-color;
}

@media screen and (min-width: 1000px) {
  .verb-container {
    width: 26rem;
  }
}

.overlay-container {
  margin: 0 1rem 0 1rem;
  position: relative;
}

.overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  transition: background-color 0.25s ease-in-out;
}

.overlay.correct {
  background-color: rgba($green, .5);
}

.overlay.incorrect {
  background-color: rgba($red, .3);
}

.overlay.correct .icon {
  color: $green;
}

.overlay.incorrect .icon {
  color: $red;
}

.icon {
  font-size: 4rem;
  opacity: .7;
  transition: all 0.25s ease-in-out;
}

.verb-descriptors {
  display: flex;
  justify-content: space-between;
  gap: .08rem;
  align-items: baseline;
  width: 100%;
  font-size: 2.5ch;
}

.badge {
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 5rem;
  background-color: $rose;
  padding: 1rem;
  color: white;
}

@media screen and (max-width: 500px) {
  .badge {
    font-size: 1.3ch;
  }
}

.translation {
  color: $second-text-color;
  font-size: 1.5rem;
}