@import "/src/theme";

.verb-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 2rem;
  width: 25rem;
  height: 12rem;
  text-align: center;

  border-radius: .5rem;
  border: 1px solid $border-color;
  box-shadow: 3px 3px 5px $border-color;
}

.overlay-container {
  position: relative;
}

.overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  background-color: rgba($green, .5);
  color: $green;
  font-size: 4rem;
  z-index: 1040;
}

.overlay.correct {
  background-color: rgba($green, .5);
  color: $green;
}

.overlay.incorrect {
  background-color: rgba($red, .3);
  color: $red;
}

.verb-descriptors {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  font-size: 1.5em;
}

.badge {
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 5rem;
  background-color: $rose;
  padding: 1rem;
  color: white;
}