@import "theme";

.app-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(49, 49, 49);
}

.settings {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.settings-section {
  border: 1px solid $border-color;
  border-radius: 1rem;
  padding: 2rem;
}

.settings-option {
  padding-bottom: .5rem;
}