@import "theme";

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(49, 49, 49);
}

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.settings-section {
  border: 1px solid $border-color;
  border-radius: 1rem;
  padding: 2rem;
  min-width: 10rem;
  text-align: center;
  box-shadow: 3px 3px 5px $border-color;
}

.settings-option {
  padding-top: .5rem;
}

.questions-count {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.custom-shape-divider-bottom-1682099831 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1682099831 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 110px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1682099831 .shape-fill {
  fill: #6A1B9A;
}